# OS
.DS_Store

# Node
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/

# Build outputs
/dist/
**/dist/
/build/
**/build/

# Turbo
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example
apps/web/.env.local
apps/web/.env*
apps/api/.env
apps/api/.env*

# Private keys
*.pem
*.key

# Cache
.cache/
**/.cache/

# Editor
.vscode/
.idea/
